<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inicio">Inicio</ion-item>
      <ion-item routerLink="/login">Login</ion-item>
      <ion-item routerLink="/registro">Registro Usuario</ion-item>
      <ion-item routerLink="/eventos">Gestión de Eventos</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>